{% extends "base.html" %}
{% block content %}
<script>
    var websocket = new WebSocket("ws://localhost:8000/websocket");
    websocket.onmessage = function(event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li');
        // Форматирует JSON для вывода
        var receiveJson = JSON.parse(event.data);
        var content = document.createTextNode(receiveJson.message);
        var id = document.createTextNode(receiveJson.id);
        // Добавлен вывод id. Отображает, что каждому сообщению добавлен порядковый номер.
        message.appendChild (document.createTextNode ('Номер: '));
        message.appendChild(id);
        message.appendChild (document.createTextNode ('.  Сообщение: '));
        message.appendChild(content);
        messages.appendChild(message)
    };
    function sendMessage(event) {
        var input = document.getElementById("messageText");
        var message = {"message": input.value};
        // Преобразовывает полученное сообщение в формат JSON
        var messageJson = JSON.stringify(message, null, '\t');
        websocket.send(messageJson);
        input.value = '';
        event.preventDefault()

    }
</script>
<h3 class="ui header">Сообщения чата:</h3>
<div>
  <div class="ui bulleted link list">
        <ul class="ui list" id='messages'>
        </ul>
  </div>
  <div class="ui compact message">
          <form action="" onsubmit="sendMessage(event)">
            <div class="ui input">
                <input type="text" id="messageText" autocomplete="off"/>
                <button type="submit" class="ui button primary">Send</button>
            </div>
        </form>
  </div>
</div>
{% endblock content %}
